<!DOCTYPE html>
<html lang='en'>
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Title</title>
    <link th:href='@{/css/email.css}' type='text/css' rel='stylesheet'>
    <link th:href='@{/css/bootstrap/css/bootstrap.css}' type='text/css' rel='stylesheet'>
    <title>Email</title>
</head>
<body class='d-flex align-items-center justify-content-center' th:style="|background : url(@{/images/home-2.jpg});|">

<!--wrapper-->
<div class='wrapper '>

    <h4 class='d-flex align-items-center justify-content-center'>
        Welcome and Thank you for choosing <br>
    </h4>
    <hr>

    <div class='wrapper-content'>
        <span class='opacity-50 d-flex align-items-center justify-content-center '>One-Way Online banking</span>
        <div class='d-flex align-items-center justify-content-center '>
            <p>Your account has been successfully registered click below to verify your account</p>
        </div>
        <button class='btn btn-primary btn-sm form-controld-flex align-items-center justify-content-center'>
            <div class="fa fa-trade-federation me-1">Verify</div>
        </button>
    </div>

</div>

<!--end of wrapper-->

<a href="file.html">go to home page</a>

</body>
</html>