<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/default.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/fontawesome/css/all.css}" type="text/css" rel="stylesheet">

    <title>Title</title>
</head>
<body>

<section class="wrapper">

        <div class="row text-white" >
            <div class="col">
                <p >Online banking</p>
                <hr>
            <p >Login</p>

            <p >News</p>
            <p >Social Page</p>
            </div>
            <div class="col text-white">
                <p>Services</p>
                <hr>
                <p >Logout</p>

                <p>Contact us</p>
                <p>Learn More</p>

            </div>
            <div class="col text-white">
                <p>Branches</p>
                <hr>
                <p>Harare</p>
                <p>Mutare</p>
                <p>Bulawayo</p>

            </div>
            <div class="col text-white">
                <p>Contact details</p>
                <hr>
                <p>Harare: harareonline@online.co.zw / <i>+263 783 386 515</i></p>
                <p>Mutare: harareonline@online.co.zw / <i>+263 783 386 515</i></p>
                <p>Bulawayo: bulawayoonline@online.co.zw / <i>+263 714 824 678</i></p>
                <p>Support: <a>supportonline@online.co.zw</a></p>
            </div>
            <a>&copy; 2022 All Rights Reserved</a>
            <div class="text-muted">
                By using this website we are sure you have agreed to our terms and service license agreement
            </div>
        </div>

    </div>

</section>

</body>
</html>